<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DUFRESNE</title>
	<link rel="stylesheet" href="/stylesheets/styles.css"
</head>
<nav>

  <ul>
  	<li><a href="/">Home</a></li>
  	<li><a href="/foods">Menu</a></li>
  	<li><a href="/parties">Parties</a></li>
  </ul>

</nav>
<body>
	<%= yield %>
</body>
</html>