body {
	text-align: center;
	font-family: Garamond, serif;
	background: lightblue;
	margin-top: 2em;
}


nav {
	padding-right: 2.3em;
	margin-bottom: 2.3em;
}
nav li {
	display: inline;
}

#print-button {
	display: none;
}

#table_display {
}


ul {
	margin: 0 auto;
}

li {
	list-style-type: none;
}

p {
	margin: .1em;
}


a:link {
	text-decoration: none;
}