body {
	text-align: center;
	font-family: Garamond, serif;
	background: lightblue;
}

nav li {
	display: inline;
}

#print-button {
	display: none;
}

#welcome {
}


ul {
	width: 19%;
	margin: 0 auto;
}
li {
	list-style-type: none;
	text-align: left;
}