body {
	text-align: center;
	font-family: Garamond, serif;
	background: lightblue;
	margin-top: 2em;
}

nav {
	padding-right: 2.7em;
	margin-bottom: 2.3em;
}
nav li {
	display: inline;
	padding-left: 1em;
	font-size: 20px;
}

#print-button {
	display: none;
}

.submit-button {
	margin-top: 2em;
}


ul {
	margin: 0 auto;
}

li {
	list-style-type: none;
}

p {
	margin: .1em;
}

h2 {
	margin: 1.5em 0 .5em 0;
}


form p {
	margin: 1em;
}

a:link {
	text-decoration: none;
}