<form action="/foods" method="post">
	<p>
	Dish: 
	<input type="text" name="food[name]">
	</p>
	<p>
	Cuisine: 
	<input type="text" name="food[cuisine_type]">
	</p>
	<p>
	Price: 
	<input type="text" name="food[price]">
	</p>
	<p>
	Allergens: 
	<input type="text" name="food[allergens]">
	</p>
	<input type="submit" value="PLAY GOD WITH FOOD">
</form>

