<form action="/parties" method="post">
	<p>
	Table Number: 
	<input type="text" name="party[table_no]">
	</p>
	<p>
	Number in Party: 
	<input type="text" name="party[guest_no]">
	</p>
	<p>
	Paid: 
	<input type="text" name="party[paid]">
	</p>
	<input type="submit" value="PLAY GOD WITH PARTIES">
</form>


